@font-face {
    font-family: myfont;
    src: url(men.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    scroll-behavior: smooth;
}
p{
    font-size: 20px;
    font-weight: 300;  
}
a{
    color: rgb(13, 13, 53);
    font-family: Arial;
    font-weight: bold;
}
body{
    min-height: 100vh;
    background: white;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    color: rgb(13, 13, 53);
    font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    color: blue;
    padding: 6px 15px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.164);
}
header ul li a:hover,
header ul li a.active{
    background-color: blue;
    color: white;
}
#submenu{
    opacity: 0;
    position: absolute;
    top: 75px;
    visibility: hidden;
    z-index: 1;
    transition: 1s;
}
li:hover ul#submenu{
    transition: 1s;
    opacity: 1;
    visibility: visible;
}
.wrapper{
    display: flex;
    gap: 2rem;
    height: 100vh;
}
.cols{
    margin-top: 300px;
}
.cols h1{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
.multitext{
    font-size: 30px;
    color: blue;
}
.btn{
    position: relative;
}
.btn button{
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.24);
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    font-size: 20px;
    color: blue;
    background-color: white;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
#image-section{
    margin-left: 250px;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image-section img{
    position: absolute;
    object-fit: cover;
    pointer-events: none;
    margin-left: 700px;
}
#image-section img#planet_front{
    z-index: 9;
}
#text{
    position: absolute;
    color: yellow;
    white-space: nowrap;
    font-size: 7.5vw;
    font-family: myfont;
    z-index: 10;
    
}
#explore_btn{
    position: absolute;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 40px;
    background: yellow;
    color: blue;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 400px;
    transform: translateY(100px);
}
#about_page{
    padding: 20px;
    display: flex;
    background: white;
}
#about_page .images{
    margin-top: 100px;
}
#about_page .images img{
    width: 400px;
    height: 200px;
}
.sec{
    position: relative;
    padding: 100px;
    background: white;
}
.sec h2{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.sec p{
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}
.sec #learn_more{
    text-decoration: none;
    color: blue;
    font-family: arial;
    font-weight: bold;
    transition: 0.3s;
}
.sec #learn_more:hover{
    color: yellow;
    transition: 0.3s;
}

#about_page2{
    padding: 20px;
    display: flex;
    background: white;
}
#about_page2 .images2{
    margin-top: 100px;
}
#about_page2 .images2 img{
    width: 400px;
    height: 450px;
}
#about_page2 .sec .career-img{
    width: 350px;
    height: 200px;
}

#about_page3{
    padding: 20px;
    display: flex;
    background: white;
}
#about_page3 .images3{
    margin-top: 100px;
}
#about_page3 .images3 img{
    width: 400px;
    height: 400px;
}

#bottom_bar{
    align-items: center;
    display: flex;
    gap: 4rem;
    width: 100%;
    height: 300px;
    background: rgba(72, 135, 253, 0.199);
}
#bottom_bar .about_page_1 #aboutpage{
    text-decoration: none;
    transform: translateY(100px);
}
#bottom_bar .about_page_2 #aboutpag2{
    text-decoration: none;
    transform: translateY(100px);
}
#bottom_bar .about_page_3 #aboutpage3{
    text-decoration: none;
    transform: translateY(100px);
}
#bottom_bar .logo_media{
    align-items: center;
    margin-bottom: 200px;
    margin-left: 100px;
}
#bottom_bar .logo_media i{
    color: black;
    font-size: 25px;
    cursor: pointer;
}
#bottom_bar .logo_media .logo{
    color: rgb(13, 13, 53);
    font-weight: bolder;
    font-size: 2em;
    text-decoration: none;
}
#bottom_bar .logo_media .icons{
    gap: 20px;
    display: flex;
}
#bottom_bar .about_page_1{
    text-decoration: none;
    margin-bottom: 150px;
    margin-left: 400px;
}
#bottom_bar .about_page_2{
    text-decoration: none;
    margin-bottom: 150px;
}
#bottom_bar .about_page_3{
    text-decoration: none;
    margin-bottom: 150px;
}
#bottom_bar a{
    transition: 0.5s;
}
#bottom_bar a:hover{
    color: rgb(128, 128, 0);
    transition: 0.5s
}



::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 0, 0.651);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: yellow;
}